
@font-face {
    font-family: 'echo_fucked_arial_regular';
    src: url("../../../.fonts/echo-fuckedarial_1-webfont.woff2") format("woff2"),
    url("../../../.fonts/echo-fuckedarial_1-webfont.woff") format('woff'),

}
.MuiDialog-container {
    font-family: "echo_fucked_arial_regular", Helvetica Neue, sans-serif !important;
}

.mintModal-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: visible;
    min-width: 280px;
}

@media screen and (min-width: 600px) {
    .mintModal-content {
        min-width: 300px;
    }
}

.web3modal-modal-lightbox {
    z-index: 10000 !important;
}