@import url('raw.githubusercontent.com//0xech0/mint-button/blob/4041ce9ec3b267bb61256d80f913c8a29b704bbc/echo-fuckedarial.woff&display=swap');

.MuiDialog-container {
    font-family: "echo-fuckedarial", Helvetica Neue, sans-serif !important;
}

.mintModal-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: visible;
    min-width: 280px;
}

@media screen and (min-width: 600px) {
    .mintModal-content {
        min-width: 300px;
    }
}

.web3modal-modal-lightbox {
    z-index: 10000 !important;
}