@import url('https://github.com/0xech0/mint-button/blob/edbe572ed868eab2e6183233b16eca6c8a142cd4/echo-fuckedarial.woff?raw=true');

.MuiDialog-container {
    font-family: "echo-fuckedarial", Helvetica Neue, sans-serif !important;
}

.mintModal-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: visible;
    min-width: 280px;
}

@media screen and (min-width: 600px) {
    .mintModal-content {
        min-width: 300px;
    }
}

.web3modal-modal-lightbox {
    z-index: 10000 !important;
}